<template>
  <div class="">
    <div class="flex justify-between bg-lightBlue-600 px-8 py-2">
      <div class="text-sm font-bold text-lightBlue-300 uppercase my-auto">
        Migrate
      </div>
      <div class="flex">
        <button class="px-4 py-2 bg-lightBlue-600 border border-lightBlue-900 text-white rounded-l hover:bg-lightBlue-900 focus:outline-none"
          @click.prevent="mode='Import'" :class="{ 'bg-lightBlue-800' : mode == 'Import'}">
          Import
        </button>
        <button class="px-4 py-2 bg-lightBlue-600 border border-lightBlue-900 text-white hover:bg-lightBlue-900 focus:outline-none"
          @click.prevent="mode='Analyse'" :class="{ 'bg-lightBlue-800' : mode == 'Analyse'}">
          Analyse
        </button>
        <button class="px-4 py-2 bg-lightBlue-600 border border-lightBlue-900 text-white rounded-r hover:bg-lightBlue-900 focus:outline-none"
          @click.prevent="mode='Build'" :class="{ 'bg-lightBlue-800' : mode == 'Build'}">
          Build
        </button>
      </div>
    </div>
    <div class="px-4 py-4">
      <mode-import v-if="mode == 'Import'"/>
      <mode-analyse v-if="mode == 'Analyse'"/>
      <mode-build v-if="mode == 'Build'"/>
    </div>
  </div>
</template>

<script>
import modeImport from './components/modeImport.vue';
import modeAnalyse from './components/modeAnalyse.vue';
import modeBuild from './components/modeBuild.vue';

export default {
    components: {
      'mode-import': modeImport,
      'mode-analyse': modeAnalyse,
      'mode-build': modeBuild,
    },
    props: {
    },
    data () {
        return {
            mode: 'Build',
        }
    },
    computed: {
    },
    watch: {
    },
    methods: {
    },
    mounted () {
    }
}

</script>
