<template>
  <div class="space-y-4">
    <div class="flex justify-between">

        <div class="flex space-x-4 text-lightBlue-900">
            <template v-for="v in viewList">
                <button class="px-4 py-2 bg-lightBlue-200 border border-lightBlue-700 hover:bg-lightBlue-900 hover:text-white focus:outline-none"
                    @click.prevent="view=v" :class="{ 'bg-lightBlue-800 text-white' : view == v}">
                    {{v}}
                </button>
            </template>
        </div>
        <div class="flex">
            
            <select class="border border-purple-800 bg-purple-100 text-purple-800 w-64 px-4 py-2 font-medium" v-model="activeClass">
                <option v-for="(cl,key) in classList">{{key}}</option>
            </select>
        </div>
    </div>
    
    <div class="">            
      <works-configuration v-if="view == 'Works Configuration'" :data="data" :activeClass="activeClass" @refresh_data="resetData" />
      <works-statistics v-if="view == 'Works Statistics'" :data="data" :activeClass="activeClass" />
      <hierarchy-search v-if="view == 'Hierarchy Search'" :data="data" :activeClass="activeClass" />
      <meta-configuration v-if="view == 'Meta Configuration'" :data="data" :activeClass="activeClass" @refresh_data="resetData" />
      <analysis-matrix v-if="view == 'Analysis Matrix'" :data="data" :activeClass="activeClass" />
      <template-statistics v-if="view == 'Template Statistics'" :data="data" />
      <template-definition v-if="view == 'Template Definition'"  :data="data" :activeClass="activeClass"/>
    </div>
  </div>
</template>

<script>

import worksConfiguration from './viewWorksConfiguration.vue';
import worksStatistics from './viewWorksStatistics.vue';
import hierarchySearch from './viewHierarchySearch.vue';
import metaConfiguration from './viewMetaConfiguration.vue';
import analysisMatrix from './viewAnalysisMatrix.vue';
import templateStatistics from './viewTemplateStatistics.vue';
import templateDefinition from './viewTemplateDefinition.vue';

import requestData from '../mixins/requestData.js';

export default {
    mixins: [
        requestData,
    ],
    components: {
      'works-configuration': worksConfiguration,
      'works-statistics': worksStatistics,
      'hierarchy-search': hierarchySearch,
      'meta-configuration': metaConfiguration,
      'analysis-matrix': analysisMatrix,
      'template-statistics': templateStatistics,
      'template-definition': templateDefinition,
    },
    props: {
    },
    data () {
        return {
            viewList: ['Works Configuration','Works Statistics','Hierarchy Search','Meta Configuration','Analysis Matrix','Template Statistics','Template Definition'],
            view: 'Works Configuration',
            activeClass: null,
        }
    },
    computed: {
    },
    watch: {
    },        
    methods: {
    },
    mounted () {
        this.resetData();
    }
}

</script>