<template>
    <div class="space-y-4">
        <div class="grid grid-cols-2 gap-16">
            
            <div class="space-y-4">

                <div class="flex justify-between">
                    <div class="py-2 font-medium text-xl">
                        Works matching selected template: {{ Object.keys(buildableList).length }}
                    </div>
                </div>

                <table class="min-w-full divide-y divide-gray-200 border border-gray-200">
                
                    <thead class="bg-gray-100 divide-x divide-gray-200">
                        <th class="px-4 py-2 border-b whitespace-no-wrap border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Works Name
                        </th>
                        <th class="px-4 py-2 border-b whitespace-no-wrap border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Content
                        </th>
                        <th class="px-4 py-2 border-b whitespace-no-wrap border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Action
                        </th>
                    </thead>
                    <tbody  class="bg-gray-50">
                        <tr v-for="r, id in buildableList" class="border-b border-gray-200 divide-x divide-gray-200">
                            <td class="px-4 py-2" >{{id}}</td>
                            <td class="px-4 py-2 space-x-2 flex"><span class="text-xs bg-blue-100 px-2 py-1 rounded-md" v-for="el,i in r">{{i}}</span></td>
                            <td class="px-4 py-2" ><button @click.prevent="buildWorksMimic(id)" >Select</button></td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="space-y-8 divide-y-2 divide-gray-600">

                <div class="flex space-x-8">
                    <div class="flex space-x-2">
                        <div class="py-2 px-4 border border-gray-200">Select Type:</div>
                        <div class="flex">
                            <select class="border border-purple-800 bg-purple-100 text-purple-800 w-128 px-4 py-2 font-medium" v-model="selectedTemplate">
                                <option v-for="(t,key) in Object.keys(templateList)">{{t}}</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div v-for="obj,id in gList" class="space-y-2">
                    <div class="font-medium">
                        {{id}}
                    </div>
                    <div>
                        {{obj}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import requestData from '../mixins/requestData.js';
    import analysisHandler from '../mixins/analysisHandler.js';
    import axios from 'axios';
    import uiTableHeader from './uiTableHeader.vue';

    export default {
        mixins: [
            requestData,
            analysisHandler,
        ],
        components: {
            'ui-table-header': uiTableHeader,
        },
        props: {
        },
        data () {
            return {
                xdata: null,
                parsedDoc: null,
                gList: {},
                idList: {},
                selectedTemplate: null,
                templateList: [],
                activeDataClass: null,
                activeDataType: {},
                toolTemplate: null,
                buildableList: {},
            }
        },
        computed: {

        },
        watch: {
            'selectedTemplate': function(newVal) {                    
                this.gList = {};
                this.idList = {};
                this.buildableList = {};
                this.getTemplate();
            },
        },
        methods: {

            
            getTemplateList () {
                axios.get('http://localhost:3001/templates')
                    .then(this.processTemplateList)
                    .catch((e) => console.log(e))
            },

            processTemplateList(data) {
                let list = {};
                for(let i=0; i<data.data.length; i++)
                {
                    list[data.data[i].name] = {
                        type: data.data[i].type,
                        class: data.data[i].class,
                    }
                }
                this.templateList = list
            },


            getTemplate () {
                axios.get('/templates/'+this.selectedTemplate+'.xml')
                    .then(this.processTemplate)
                    .catch((e) => console.log(e))

            },
            processTemplate (data) {  
                
                this.gList = {};
                this.xdata = data.data;

                if (window.DOMParser)
                {
                    let parser = new DOMParser();
                    let xmlDoc = parser.parseFromString(this.xdata, "text/xml");
                    this.parsedDoc = xmlDoc;

                    let nodeList = xmlDoc.getElementsByTagName("obj_instance");

                    for(let i in nodeList)
                    {
                        let node = nodeList[i];
                        if(node.attributes != null && node.attributes.name != null)
                        {
                            let index = node.attributes.name.nodeValue
                            this.gList[index] = {};
                            if(node.attributes.object_name.nodeValue != 'Mimic Banner' && node.attributes.object_name.nodeValue != 'Mimic Navigation Button')
                            {
                                this.idList[node.attributes.name.nodeValue] = true;


                            }

                            for(let j=0; j<node.childNodes.length; j++)
                            {
                                if(node.childNodes[j].tagName == 'obj_input')
                                {
                                    this.gList[index][node.childNodes[j].attributes.name.nodeValue] = {};

                                    if(node.childNodes[j].childNodes.length == 0)
                                    {
                                        if(node.childNodes[j].attributes.value != null)
                                        {
                                            this.gList[index][node.childNodes[j].attributes.name.nodeValue] = node.childNodes[j].attributes.value.nodeValue;
                                        }
                                    }
                                    else
                                    {
                                        for(let k=0; k<node.childNodes[j].childNodes.length; k++)
                                        {
                                            let p = node.childNodes[j].childNodes[k];
                                            
                                            if(p.tagName == 'hierarchy')
                                            {
                                                this.gList[index][node.childNodes[j].attributes.name.nodeValue].works = (p.attributes.works != null) ? p.attributes.works.nodeValue : null;
                                                this.gList[index][node.childNodes[j].attributes.name.nodeValue].process = (p.attributes.process != null) ? p.attributes.process.nodeValue : null;
                                                this.gList[index][node.childNodes[j].attributes.name.nodeValue].function = (p.attributes.function != null) ? p.attributes.function.nodeValue : null;
                                                this.gList[index][node.childNodes[j].attributes.name.nodeValue].asset = (p.attributes.asset != null) ? p.attributes.asset.nodeValue : null;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                this.getMatchingTemplates();
            },

            getMatchingTemplates() {
                
                let idList = this.idList;
                let tempData = this.calculateTypeTemplates(this.templateList[this.selectedTemplate].class, this.templateList[this.selectedTemplate].type);

                let matchingTemplates = [];
                for(let hash in tempData.list)
                {
                    let hdata = tempData.list[hash].data;
                    let state = true;

                    let newFormat = {};
                    for(let i=0; i<hdata.length; i++)
                    {
                        let row = hdata[i];
                        if(idList[row.data_id] == null)
                        {
                            console.log(this.templateList[this.selectedTemplate].type + ' ' + tempData.list[hash].id + ' - missing object: ' + row.data_id)
                            state = false;
                        }
                        newFormat[row.data_id] = row;
                    }
                    if(state == true)
                    {
                        matchingTemplates.push(newFormat);
                    }
                }

                if(matchingTemplates.length > 1)
                {
                    alert('We have ' + matchingTemplates.length + ' matching templates, just using the first match instead.')
                    this.toolTemplate = matchingTemplates[0];
                    this.getMatchingWorks();
                }
                else if(matchingTemplates.length == 0)
                {
                    alert('We have no matching templates, stopping process.');
                }
                else
                {
                    this.toolTemplate = matchingTemplates[0];
                    this.getMatchingWorks();
                }
            },

            getMatchingWorks() {

                let meta = this.data.meta;
                let works = this.data.works
                let hierarchy = this.data.hierarchy;


                let lookup = {};
                for(let i=0; i<hierarchy.length; i++)
                {
                    let row = hierarchy[i];
                    let key = row.works;
                    let siteClass = works[key].site_class;

                    if(siteClass != this.templateList[this.selectedTemplate].class)
                    {
                        continue;
                    }


                    if(lookup[key] == null)
                    {
                        lookup[key] = {};
                    }

                    
                    if(meta[siteClass] != null)
                    {
                        let p_key = `${row.process}`;
                        let f_key = `${row.process} ${row.function}`;
                        let a_key = `${row.process} ${row.function} ${row.asset}`;

                        if(meta[siteClass].p[p_key] != null) // if process exists that is most important
                        {
                            if( meta[siteClass].p[p_key].shown == 'Yes' && meta[siteClass].p[p_key].data_id != null)
                            {
                                lookup[key][meta[siteClass].p[p_key].data_id] = {
                                    process: row.process,
                                    function: row.function,
                                    asset: row.asset,
                                    meta: {
                                        routed: meta[siteClass].p[p_key].routed,
                                        shown: meta[siteClass].p[p_key].shown,
                                        mandatory: meta[siteClass].p[p_key].mandatory,
                                    },
                                }
                            }
                        }
                        else if(meta[siteClass].f[f_key] != null) // then function
                        {
                            if( meta[siteClass].f[f_key].shown == 'Yes' && meta[siteClass].f[f_key].data_id != null)
                            {
                                lookup[key][meta[siteClass].f[f_key].data_id] = {
                                    process: row.process,
                                    function: row.function,
                                    asset: row.asset,
                                    meta: {
                                        routed: meta[siteClass].f[f_key].routed,
                                        shown: meta[siteClass].f[f_key].shown,
                                        mandatory: meta[siteClass].f[f_key].mandatory,
                                    },
                                }
                                
                            }
                        }
                        else if(meta[siteClass].a[a_key] != null) // then asset
                        {
                            if( meta[siteClass].a[a_key].shown == 'Yes' && meta[siteClass].a[a_key].data_id != null)
                            {
                                lookup[key][meta[siteClass].a[a_key].data_id] = {
                                    process: row.process,
                                    function: row.function,
                                    asset: row.asset,
                                    meta: {
                                        routed: meta[siteClass].a[a_key].routed,
                                        shown: meta[siteClass].a[a_key].shown,
                                        mandatory: meta[siteClass].a[a_key].mandatory,
                                    },
                                }
                            }
                        }
                    }


                }

                let data = {};
                for(let works in lookup)
                {
                    let state = true;
                    
                    for(let thing in this.toolTemplate)
                    {
                        if(this.toolTemplate[thing].routed == 'Yes' && lookup[works][this.toolTemplate[thing].data_id] == null)
                        {
                            state = false;
                            break;
                        }
                    }

                    for(let element in lookup[works])
                    {
                        if(this.toolTemplate[element] == null)
                        {
                            state = false;
                            break;
                        }
                    }

                    if(Object.keys(lookup[works]).length == 0)
                    {
                        state = false;
                    }

                    if(state == true)
                    {
                        data[works] = lookup[works];
                    }
                }

                this.buildableList = data;
            },

            buildWorksMimic(works)
            {
                // THINGS THAT NEED SETTING:
                // mimic_def -> works name
                // mimic_def -> info
                // mimic banner config

                // object instances -> hierarchy -- done

                // object instances and svg g nodes if removing object
                    // this.parsedDoc.documentElement.removeChild(element);
                
                let nodeRemoveList = [];
                let parser = new DOMParser();
                let tempDoc = parser.parseFromString(this.xdata, "text/xml");
                let nodeList = tempDoc.getElementsByTagName("obj_instance");

                let mimicNode = tempDoc.getElementsByTagName("mimic_def")[0];
                mimicNode.attributes.info.nodeValue = 'Mimic Generated using Migration Tool on ' + new Date().toLocaleString('en-UK') + ' using template: ' + this.selectedTemplate;
                mimicNode.attributes.works_name.nodeValue = works;
                mimicNode.attributes.name.nodeValue = works;

                for(let i in nodeList)
                {
                    let node = nodeList[i];

                    if(node.attributes == null)
                    {
                        continue;
                    }

                    // introduce the template data info as well
                    let idInfo = this.buildableList[works][node.attributes.name.nodeValue]
                    if(idInfo != null || node.attributes.object_name.nodeValue == 'Mimic Banner') // needs configuring
                    {
                        for(let j=0; j<node.childNodes.length; j++)
                        {
                            if(node.childNodes[j].nodeName == 'obj_input' && node.childNodes[j].attributes.val_type.nodeValue == '12')
                            {
                                for(let k=0; k<node.childNodes[j].childNodes.length; k++)
                                {
                                    if(node.childNodes[j].childNodes[k].nodeName == 'hierarchy')
                                    {
                                        let hierarchyNode = node.childNodes[j].childNodes[k];
                                        
                                        if(hierarchyNode.attributes.works != null)
                                        {
                                            hierarchyNode.attributes.works.nodeValue = 'From Mimic : ' + works;
                                        }

                                        if(hierarchyNode.attributes.process != null)
                                        {
                                            hierarchyNode.attributes.process.nodeValue = idInfo.process;
                                        }

                                        if(hierarchyNode.attributes.function != null)
                                        {
                                            hierarchyNode.attributes.function.nodeValue = idInfo.function;
                                        }

                                        if(hierarchyNode.attributes.asset != null)
                                        {
                                            hierarchyNode.attributes.asset.nodeValue = idInfo.asset;
                                        }

                                    }
                                }
                            }
                        }

                    }
                    else if(this.toolTemplate[node.attributes.name.nodeValue] != null) // if it needs removing
                    {
                        if(this.toolTemplate[node.attributes.name.nodeValue].mandatory == 'No') // if it needs removing
                        {
                            nodeRemoveList.push(node);
                            let groupList = tempDoc.getElementsByTagName("g");
                            for(let g in groupList)
                            {
                                if(groupList[g].attributes != null && groupList[g].attributes.id != null && groupList[g].attributes.id.nodeValue == node.attributes.name.nodeValue)
                                {
                                    nodeRemoveList.push(groupList[g])
                                }
                            }
                        }
                    }
                }

                for(let n=0; n<nodeRemoveList.length; n++)
                {
                    nodeRemoveList[n].parentNode.removeChild(nodeRemoveList[n]);
                }

                console.log(tempDoc)
                // spit this out to a new xml download for the user
                // save doc as works name
            },
                
        },
        mounted () {
            this.resetData();
            this.getTemplateList();
        }
    }

</script>