<template>
    <div class="space-y-4">
        <div>
            <div>
                
            </div>
            <div class="flex border border-pink-100 space-x-8">
                <input v-model="batchName" class="border border-gray-700 px-4" placeholder="Batch Name"/>
                <input type="file" :ref="'fileUpload'" @change="fileUpload = $refs['fileUpload'].files[0]" accept=".xlsx" class=""/>
                <button @click.prevent="sendUpload" class="px-4 py bg-blue-200 border border-blue-600">Upload</button>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <div class="py-2 font-medium">
                    Estate
                </div>
                <table class="min-w-full divide-y divide-gray-200 border border-gray-200">
                    <thead class="bg-gray-100 divide-x divide-gray-200">
                        <th>Type</th>
                        <th>Total</th>
                        <th>Imported</th>
                        <th>% Imported</th>
                    </thead>
                    <tbody  class="bg-gray-50">
                        <tr v-for="(r,key) in estate" class="border-b border-gray-200 divide-x divide-gray-200">
                            <td class="px-4 py-2">{{key}}</td>
                            <td class="px-4 py-2">{{r.total}}</td>
                            <td class="px-4 py-2">{{Object.keys(r.works).length}}</td>
                            <td class="px-4 py-2">{{((Object.keys(r.works).length/r.total)*100).toFixed(0)}}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="space-y-4">
                <div>
                    <div class="py-2 flex justify-between">
                        <div class="font-medium">
                            Batches
                        </div>
                        <div class="mr-4">
                            Total: {{works.length}}
                        </div>
                    </div>
                    <table class="min-w-full divide-y divide-gray-200 border border-gray-200">
                        <thead class="bg-gray-100 divide-x divide-gray-200">
                            <th>Batch</th>
                            <th>Works</th>
                            <th>Simple</th>
                            <th>Complex</th>
                        </thead>
                        <tbody  class="bg-gray-50">
                            <tr v-for="(r,key) in batches" class="border-b border-gray-200 divide-x divide-gray-200">
                                <td class="px-4 py-2">{{key}}</td>
                                <td class="px-4 py-2">{{Object.keys(r).length}}</td>
                                <td class="px-4 py-2">{{Object.keys(r).filter(i => batches[key][i].size == 'Simple').length }}</td>
                                <td class="px-4 py-2">{{Object.keys(r).filter(i => batches[key][i].size == 'Complex').length }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <div class="py-2 flex justify-between">
                        <div class="font-medium">
                            Types
                        </div>
                        <div class="mr-4">
                        </div>
                    </div>
                    <table class="min-w-full divide-y divide-gray-200 border border-gray-200">
                        <thead class="bg-gray-100 divide-x divide-gray-200">
                            <th>Type</th>
                            <th>Works</th>
                            <th>Simple</th>
                            <th>Complex</th>
                        </thead>
                        <tbody  class="bg-gray-50">
                            <tr v-for="(r,key) in types" class="border-b border-gray-200 divide-x divide-gray-200">
                                <td class="px-4 py-2">{{key}}</td>
                                <td class="px-4 py-2">{{Object.keys(r).length}}</td>
                                <td class="px-4 py-2">{{Object.keys(r).filter(i => types[key][i].size == 'Simple').length }}</td>
                                <td class="px-4 py-2">{{Object.keys(r).filter(i => types[key][i].size == 'Complex').length }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import axios from 'axios';

    export default {
        components: {},
        props: {
        },
        data () {
            return {
                estate: {},
                works: {},
                batches: {},
                types: {},
                fileUpload: {},
                batchName: '',
            }
        },
        computed: {

        },
        watch: {
        },
        methods: {
            getEstate () {
                axios.get('http://localhost:3001/estate')
                    .then(this.processEstate)
                    .catch((e) => console.log(e))
            },
            processEstate (data) {  
                let store = {};

                for(let i=0; i<data.data.length; i++)
                {
                    store[data.data[i].type] = {
                        total: data.data[i].total,
                        works: {},
                    }
                }
                this.estate = store;
                this.getWorks();
            },
            getWorks () {
                axios.get('http://localhost:3001/works')
                    .then(this.processWorks)
                    .catch((e) => console.log(e))
            },
            processWorks (data) {  
                this.works = data.data;

                let batches = {};
                let types = {};

                for(let i=0; i<this.works.length; i++)
                {
                    let row = this.works[i];
                    
                    if(this.estate[row.site_class].works == null)
                    {
                        this.estate[row.site_class].works = {};
                    }
                    this.estate[row.site_class].works[row.name] = true;

                    if(batches[row.batch] == null)
                    {
                        batches[row.batch] = {};
                    }
                    batches[row.batch][row.name] = {
                        type: row.type,
                        size: row.size,
                        nexus: row.nexus,
                    };

                    if(types[row.type] == null)
                    {
                        types[row.type] = {};
                    }
                    types[row.type][row.name] = {
                        size: row.size,
                    }
                }

                this.batches = batches;
                this.types = types;
            },
            sendUpload() {

                let formData = new FormData();
                formData.append('file', this.fileUpload);
                formData.append('batch', this.batchName);
                axios.post( 'http://localhost:3001/upload',
                    formData, { headers: {'Content-Type': 'multipart/form-data'} } )
                .then(function(){
                    console.log('Successfully uploaded');
                    location.reload();
                })
                .catch(function(){
                    console.log('Failed to upload.');
                });
            }
        },
        mounted () {
            this.getEstate();
        }
    }
</script>