<template>
    <div class="space-y-4">
        <div class="flex justify-between">
            <div class="flex">
            </div>
            <div class="flex space-x-2">
                    <div class="py-2 px-4 border border-gray-200">Type:</div>
                    <div class="flex">
                        <select class="border border-purple-800 bg-purple-100 text-purple-800 w-128 px-4 py-2 font-medium" v-model="activeType">
                            <option v-for="(cl,key) in typeList">{{cl}}</option>
                        </select>
                    </div>
            </div>
        </div>
        
        <div class="">
            <div class="flex justify-between w-full px-4 py-2 bg-lightBlue-100 cursor-pointer " @click.prevent="metricsOpen = !metricsOpen">
                <div class="">
                    Metrics
                </div>
                <div class="">
                    <span v-if="metricsOpen == false">+</span>
                    <span v-if="metricsOpen == true">-</span>
                </div>
            </div>
            <div class="px-4 py-2 border border-lightBlue-100" v-if="metricsOpen">
                <div class="grid grid-cols-2 gap-4" >    
                    
                    <div>
                        <table class="min-w-full divide-y divide-gray-200 border border-gray-200">
                            
                            <thead class="bg-gray-100 divide-x divide-gray-200" v-if="Object.keys(templateMetrics).length > 0">
                                <th>Total Templates: {{ Object.keys(templateMetrics).length}}</th>
                                <th>Total Works: {{ Object.values(templateMetrics).reduce((a, b) => a + b) }}</th>
                            </thead>
                            <thead class="bg-gray-100 divide-x divide-gray-200">
                                <th>Number</th>
                                <th>Count</th>
                            </thead>
                            <tbody  class="bg-gray-50">
                                <tr v-for="r in templateList" class="border-b border-gray-200 divide-x divide-gray-200">
                                    <td class="px-4 py-2 whitespace-nowrap">{{ r.id}}</td>
                                    <td class="px-4 py-2 whitespace-nowrap">{{ Object.keys(r.works).length}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    
                    <div>
                        <table class="min-w-full divide-y divide-gray-200 border border-gray-200">
                            <thead class="bg-gray-100 divide-x divide-gray-200">
                                <th>Number of works using template</th>
                                <th>Count</th>
                            </thead>
                            <tbody  class="bg-gray-50">
                                <tr v-for="(t,key) in templateMetrics" class="border-b border-gray-200 divide-x divide-gray-200">
                                    <td class="px-4 py-2 whitespace-nowrap">{{key}}</td>
                                    <td class="px-4 py-2 whitespace-nowrap">{{t}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        
        </div>

        <div class="pt-4">
            <table class="min-w-full divide-y divide-gray-200 border border-gray-200">
                <thead class="bg-gray-100 divide-x divide-gray-200">
                    <th colspan="3">Hierarchy</th>
                    <th :colspan="Object.keys(templateList).length">Templates</th>
                </thead>
                <thead class="bg-gray-100 divide-x divide-gray-200">
                    <th>Process</th>
                    <th>Function</th>
                    <th>Asset</th>
                    <template v-for="(template, index) in Object.keys(templateList)">
                        <th class="w-10">{{index+1}}</th>
                    </template>
                </thead>
                <tbody  class="bg-gray-50">
                    <template v-for="(r,rownum) in tableData">
                        <tr class="border-b border-gray-200 divide-x divide-gray-200">

                            <td class="px-4 py-2 whitespace-nowrap">
                                <span v-for="h in r.hierarchy">{{h.process}}<br></span>
                            </td>
                            <td class="px-4 py-2 whitespace-nowrap">
                                <span v-for="h in r.hierarchy">{{h.function}}<br></span>
                            </td>
                            <td class="px-4 py-2 whitespace-nowrap">
                                <span v-for="h in r.hierarchy">{{h.asset}}<br></span>
                            </td>
                            
                            <template v-for="(template, index) in Object.keys(templateList)">
                                <td class="py-2 text-center bg-green-500 text-green-500" v-if="template.charAt(rownum) == 'x'">x</td>
                                <td class="py-2 text-center bg-orange-500 text-orange-500" v-else-if="template.charAt(rownum) == 'r'">r</td>
                                <td class="py-2 text-center bg-blue-500 text-blue-500" v-else-if="template.charAt(rownum) == 'm'">m</td>
                                <td class="py-2 text-center bg-red-500 text-red-500" v-else>o</td>
                            </template>

                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>

    import analysisHandler from '../mixins/analysisHandler.js';

    export default {
        mixins: [
            analysisHandler,
        ],
        components: {},
        props: {
            data: {
                type: Object,
                default: function () {
                    return { 
                        works: {},
                        hierarchy: {},
                        meta: {},
                        estate: {},
                     }
                }
            },
            activeClass: {
                type: String,
                default: null,
            }
        },
        data () {
            return {
                metricsOpen: true,
                tableData: {},
                activeType: 'ALL',
                templateList: {},
                templateMetrics: {},
            }
        },
        computed: {
           typeList () {
                let list = {
                    'ALL': true,
                };
                for(let key in this.data.works)
                {   
                    if(this.data.works[key].site_class == this.activeClass && this.data.works[key].type != null)
                    {
                        list[this.data.works[key].type] = true;
                    }
                }
                let data = [];
                for(let item in list)
                {
                    data.push(item);
                }
                data.sort();
                return data;
            },
        },
        watch: {
            activeClass: function() {
                this.calculateTableData();
            },
            activeType: function() {
                this.calculateTableData();
            }
        },
        methods: {
            
            
            calculateTableData() {
                let typeData = this.calculateTypeTemplates(this.activeClass, this.activeType)
                this.templateMetrics = typeData.metrics;
                this.templateList = typeData.list;
                this.tableData = typeData.data;
            },


            
            resetData() {
                this.calculateTableData();
            },

        },
        mounted () {
            this.resetData();
        }
    }
</script>