<template>
    <div class="space-y-4" v-if="activeClass != null">
        
        <div class="grid grid-cols-4 gap-4">


            <div class="grid grid-cols-2 gap-8" v-if="tableData[activeTab] != null">
                <div class="space-y-2">
                    <div class="font-medium text-xl">
                        Meta Configuration
                    </div>
                    <div class="pt-1" >
                        <div class="">
                            Total Elements: {{ Object.keys(tableData[activeTab]).length }}
                        </div>
                        <div class="">
                            Selected Elements: {{ Object.keys(tableData[activeTab]).filter(i => tableData[activeTab][i].selected == true).length }}
                        </div>
                    </div>
                </div>
                <div>
                    <div class="space-y mt-4">
                        <div class="">
                            Processes: {{ Object.keys(tableData.p).length }}
                        </div>
                        <div class="">
                            Functions: {{ Object.keys(tableData.f).length }}
                        </div>
                        <div class="">
                            Assets: {{ Object.keys(tableData.a).length }}
                        </div>
                    </div>
                </div>
            </div>


            <div class="space-y-2">
                <div class="flex space-x-4 justify-end">
                    <div class="py-2 font-medium">Shown: </div>                    
                    <select class="border border-green-200 w-64 px-4 py-2" v-model="set.shown">
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                    <button class="border border-green-800 text-green-800 hover:bg-green-800 hover:text-white px-4 py-2 w-16" @click.prevent="setSelected('shown')">Set</button>
                </div>
                <div class="flex space-x-4 justify-end">
                    <div class="py-2 font-medium">Object:</div>                    
                    <select class="border border-green-200 w-64 px-4 py-2" v-model="set.object">
                        <option>Object Name</option> <!-- sanatized for VC -->
                    </select>
                    <button class="border border-green-800 text-green-800 hover:bg-green-800 hover:text-white px-4 py-2 w-16" @click.prevent="setSelected('object')">Set</button>
                </div>

            </div>

            <div class="space-y-2">
                
                <div class="flex space-x-4 justify-end">
                    <div class="py-2 font-medium">Routed:</div>                    
                    <select class="border border-green-200 w-64 px-4 py-2" v-model="set.routed">
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                    <button class="border border-green-800 text-green-800 hover:bg-green-800 hover:text-white px-4 py-2 w-16" @click.prevent="setSelected('routed')">Set</button>
                </div>

                <div class="flex space-x-4 justify-end">
                    <div class="py-2 font-medium">Data ID:</div>                    
                    <input class="px-4 py-2 border border-green-200 w-64" placeholder="Data ID..." v-model="set.data_id"/>
                    <button class="border border-green-800 text-green-800 hover:bg-green-800 hover:text-white px-4 py-2 w-16" @click.prevent="setSelected('data_id')">Set</button>

                </div>
            </div>

            <div class="space-y-2">
                <div class="flex space-x-4 justify-end">
                    <div class="py-2 font-medium">Mandatory:</div>                    
                    <select class="border border-green-200 w-64 px-4 py-2" v-model="set.mandatory">
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                    <button class="border border-green-800 text-green-800 hover:bg-green-800 hover:text-white px-4 py-2 w-16" @click.prevent="setSelected('mandatory')">Set</button>
                </div>
                <div class="flex justify-between space-x-4 ml-4">
                    <button class="border border-lightBlue-300 bg-lightBlue-300 px-4 py-2 w-full" @click.prevent="saveData">Save</button>
                    <button class="border border-lightBlue-300 bg-lightBlue-300 px-4 py-2 w-full" @click.prevent="resetData">Reset</button>
                    <button class="border border-lightBlue-300 bg-lightBlue-300 px-4 py-2 w-full" @click.prevent="showChangeset = true">Changeset</button>
                </div>
            </div>

        </div>

        
        <div class="flex justify-between">
            <div class="flex space-x-8">
                <div class="px-4 py-2 cursor-pointer border border-purple-900 w-48 text-center" :class="{ 'bg-purple-700 text-white' : activeTab == 'p'}" @click.prevent="activeTab = 'p'">   
                    Processes           
                </div>
                <div class="px-4 py-2 cursor-pointer border border-purple-900 w-48 text-center" :class="{ 'bg-purple-700 text-white' : activeTab == 'f'}" @click.prevent="activeTab = 'f'">  
                    Functions           
                </div>
                <div class="px-4 py-2 cursor-pointer border border-purple-900 w-48 text-center" :class="{ 'bg-purple-700 text-white' : activeTab == 'a'}" @click.prevent="activeTab = 'a'">   
                    Assets           
                </div>
            </div>
            <div class="flex space-x-8">
                <div class="px-4 py-2">   
                    Processes with a configured meta row override function and asset configuration, functions with a configured meta row override asset configuration.           
                </div>
                <button class="px-4 py-2 w-32 border border-red-800 text-red-800 hover:bg-red-800 hover:text-white" @click.prevent="resetFilters">Clear Filters</button>
            </div>
        </div>

        <div>
            <table class="min-w-full divide-y divide-gray-200 border border-gray-200">
                <thead class="bg-gray-100 divide-x divide-gray-200">
                    <th class="py-2 px-2"></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.process" /></th>
                    <th class="py-2 px-2" v-if="activeTab != 'p'"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.function" /></th>
                    <th class="py-2 px-2" v-if="activeTab == 'a'"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.asset" /></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.shown" /></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.routed" /></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.mandatory" /></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.object" /></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.data_id" /></th>
                </thead>
                <thead class="bg-gray-100 divide-x divide-gray-200">
                    <th class="px-2 py-2 border-b whitespace-no-wrap border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        <td class="px-2 py-2 w-8">
                                <div @click.prevent="selectAll = !selectAll" :class="{ 'bg-blue-400' : selectAll }"
                                class="border border-black h-6 w-6 hover:bg-blue-200 cursor-pointer" ></div>
                        </td>
                    </th>
                    <ui-table-header :sort="sort" field="process" label="Process" :sortable="true" />
                    <ui-table-header :sort="sort" field="function" label="Function" :sortable="true" v-if="activeTab != 'p'"/>
                    <ui-table-header :sort="sort" field="asset" label="Asset" :sortable="true" v-if="activeTab == 'a'"/>
                    <ui-table-header :sort="sort" field="shown" label="Shown" :sortable="true" />
                    <ui-table-header :sort="sort" field="routed" label="Routed" :sortable="true" />
                    <ui-table-header :sort="sort" field="mandatory" label="Mandatory" :sortable="true" />
                    <ui-table-header :sort="sort" field="object" label="Object" :sortable="true" />
                    <ui-table-header :sort="sort" field="data_id" label="Data ID" :sortable="true" />
                </thead>
                <tbody  class="bg-gray-50">
                    <tr v-for="r in sortedData" class="border-b border-gray-200 divide-x divide-gray-200" :class="{ 'bg-lightBlue-100' : changeset[activeTab][r.key] != null }">
                        <td class="px-4 py-2 w-8">
                            <div @click.prevent="tableData[activeTab][r.key].selected = !tableData[activeTab][r.key].selected" 
                                :class="{ 'bg-blue-400' : tableData[activeTab][r.key].selected }"
                                class="border border-black h-6 w-6 hover:bg-blue-200 cursor-pointer" ></div>
                        </td>
                        <td class="px-4 py-2">{{r.process}}</td>
                        <td class="px-4 py-2" v-if="activeTab != 'p'">{{r.function}}</td>
                        <td class="px-4 py-2" v-if="activeTab == 'a'">{{r.asset}}</td>
                        <td class="px-4 py-2" 
                            :class="{ 'text-lightBlue-600' : changeset[activeTab][r.key] != null && changeset[activeTab][r.key].shown != null }">
                            {{r.shown}}
                        </td>
                        <td class="px-4 py-2" 
                            :class="{ 'text-lightBlue-600' : changeset[activeTab][r.key] != null && changeset[activeTab][r.key].routed != null }">
                            {{r.routed}}
                        </td>
                        <td class="px-4 py-2" 
                            :class="{ 'text-lightBlue-600' : changeset[activeTab][r.key] != null && changeset[activeTab][r.key].mandatory != null }">
                            {{r.mandatory}}
                        </td>
                        <td class="px-4 py-2"
                            :class="{ 'text-lightBlue-600' : changeset[activeTab][r.key] != null && changeset[activeTab][r.key].object != null }">
                            {{r.object}}</td>
                        <td class="px-4 py-2"
                            :class="{ 'text-lightBlue-600' : changeset[activeTab][r.key] != null && changeset[activeTab][r.key].data_id != null }">
                            {{r.data_id}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        
        <template v-if="showChangeset == true">
            <div class="fixed z-10 inset-0 overflow-y-auto" role="dialog" aria-modal="true">
                <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                   
                    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

                    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

                    <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-3xl sm:w-full sm:p-6">
                        <div>
                            <div class="mt-3 text-center sm:mt-5 overflow-y-auto">
                                <h3 class="text-lg leading-6 font-medium text-gray-900" id="dialog-1-title">
                                    Changeset
                                </h3>
                                <div class="mt-2">
                                    <h4>Processes</h4>
                                    <p class="text-sm text-gray-500" v-for="(row,r) in changeset.p">
                                    {{r}}: <span class="space-x-2" v-for="(prop,p) in row"> {{ p }} changed from {{ prop.old }} to {{ prop.new }}</span>
                                    </p>
                                </div>
                                <div class="mt-2">
                                    <h4>Functions</h4>
                                    <p class="text-sm text-gray-500" v-for="(row,r) in changeset.f">
                                    {{r}}: <span class="space-x-2" v-for="(prop,p) in row"> {{ p }} changed from {{ prop.old }} to {{ prop.new }}</span>
                                    </p>
                                </div>
                                <div class="mt-2">
                                    <h4>Assets</h4>
                                    <p class="text-sm text-gray-500" v-for="(row,r) in changeset.a">
                                    {{r}}: <span class="space-x-2" v-for="(prop,p) in row"> {{ p }} changed from {{ prop.old }} to {{ prop.new }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 sm:mt-6">
                            <button type="button" @click.prevent="showChangeset = false" class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </template>

    </div>

</template>

<script>

    import axios from 'axios';
    import uiTableHeader from './uiTableHeader.vue';

    export default {
        components: {
            'ui-table-header': uiTableHeader,
        },
        props: {
            data: {
                type: Object,
                default: function () {
                    return { 
                        works: {},
                        hierarchy: {},
                        meta: {},
                        estate: {},
                     }
                }
            },
            activeClass: {
                type: String,
                default: null,
            }
        },
        data () {
            return {
                tableData: {},
                selectAll: false,
                set: {
                    shown: null,
                    routed: null,
                    mandatory: null,
                    object: null,
                    data_id: null,
                },
                sort: {
                    field: null,
                    descending: true,
                },
                activeTab: 'p',
                showChangeset: false,
                filters: {
                    process: '',
                    function: '',
                    asset: '',
                    shown: '',
                    routed: '',
                    mandatory: '',
                    object: '',
                    data_id: '',
                },
            }
        },
        computed: {
            changeset() {

                let list = {
                    p: {},
                    f: {},
                    a: {},
                };

                let control = this.calculateTableData();
                let change = this.tableData; 

                for(let t in control)
                {
                    for(let row in control[t])
                    {
                        if(JSON.stringify(control[t][row]) != JSON.stringify(change[t][row]))
                        {
                            let data = null;
                            for(let prop in control[t][row])
                            {
                                if(control[t][row][prop] != change[t][row][prop] && prop != 'selected')
                                {
                                    if(data == null)
                                    {
                                        data = {};
                                    }
                                    data[prop] = {
                                        old: control[t][row][prop],
                                        new: change[t][row][prop],
                                    }
                                }
                            }
                            if(data != null)
                            {
                                list[t][row] = data;
                            }
                        }
                    }
                }

                return list;
            },


            filteredData() {

                let data = [];

                for(let row in this.tableData[this.activeTab])
                {
                    let i = this.tableData[this.activeTab][row];
                    
                    if( this.filterDatum(row) == true)
                    {
                        data.push(i)
                    }
                }
                return data;
            },


            sortedData () {

                let data = this.filteredData;

                if (this.sort.field != null) {
                    data.sort((a,b) => { 
                        let aVal = a[this.sort.field];
                        let bVal = b[this.sort.field];

                        if (aVal === bVal) {
                            return 0;
                        }
                        else if (aVal == null) {
                            return 1;
                        }
                        else if (bVal == null) {
                            return -1;
                        }
                        else if (this.sort.descending) {
                            return (aVal < bVal) ? 1 : -1;
                        }
                        else {
                            return (aVal < bVal) ? -1 : 1;
                        }
                    });
                }

                return data
            },
        },
        watch: {
            'selectAll': function(newVal) {
                for(let row in this.tableData[this.activeTab])
                {
                    this.tableData[this.activeTab][row].selected = newVal;
                }
            },
            'activeClass': function(newVal) {
                this.resetData();
            },
            'data.meta': {
                deep: true,
                handler() {
                    this.resetData();
                }
            },
            'activeTab': function(newVal) {
                this.selectAll = false;
                for(let tab in this.tableData)
                {
                    for(let row in this.tableData[tab])
                    {
                        this.tableData[tab][row].selected = false;
                    }
                }
            },
        },
        methods: {


            
            filterDatum(key) {

                let state = true;
                let row = this.tableData[this.activeTab][key];

                if(this.activeTab == 'f')
                {
                    if(this.tableData['p'][row.process].shown != 'Yes')
                    {
                        state = false;
                    }
                } 
                else if(this.activeTab == 'a')
                {
                    if(this.tableData['p'][row.process].shown != 'Yes' || this.tableData['f'][`${row.process} ${row.function}`].shown != 'Yes')
                    {
                        state = false;
                    }
                }    


                for(let key in this.filters)
                {
                    let calc = ( this.filters[key] == '' || ( this.filters[key].charAt(0) == '=' && ('='+row[key].toUpperCase()) == this.filters[key].toUpperCase() ) 
                    || ( row[key].toUpperCase().indexOf(this.filters[key].toUpperCase()) > -1)  )

                    if(calc == false)
                    {
                        state = false;
                    }
                }

                if(state == false)
                {
                    if(this.tableData[this.activeTab][key].selected == true)
                    {
                        this.tableData[this.activeTab][key].selected = false;
                    }
                }

                return state;
            },



            calculateTableData() {

                let lookup = {
                    p: {},
                    f: {},
                    a: {},
                };

                for(let i=0; i<this.data.hierarchy.length; i++)
                {
                    let row = this.data.hierarchy[i];

                    if(this.data.works[row.works].site_class == this.activeClass)
                    {
                        let p_key = `${row.process}`;
                        if(lookup.p[p_key] == null)
                        {
                            lookup.p[p_key] = {
                                key: p_key,
                                process: row.process,
                                shown: 'Yes',
                                routed: 'Yes',
                                mandatory: 'No',
                                object: null,
                                data_id: null,
                                selected: false,
                            }

                            if(this.data.meta[this.activeClass] != null && this.data.meta[this.activeClass].p[p_key] != null)
                            {
                                lookup.p[p_key].shown = this.data.meta[this.activeClass].p[p_key].shown;
                                lookup.p[p_key].routed = this.data.meta[this.activeClass].p[p_key].routed;
                                lookup.p[p_key].mandatory = this.data.meta[this.activeClass].p[p_key].mandatory;
                                lookup.p[p_key].object = this.data.meta[this.activeClass].p[p_key].object;
                                lookup.p[p_key].data_id = this.data.meta[this.activeClass].p[p_key].data_id;
                            }

                        }

                        let f_key = `${row.process} ${row.function}`;
                        if(lookup.f[f_key] == null)
                        {
                            lookup.f[f_key] = {
                                key: f_key,
                                process: row.process,
                                function: row.function,
                                shown: 'Yes',
                                routed: 'Yes',
                                mandatory: 'No',
                                object: null,
                                data_id: null,
                                selected: false,
                            }

                            if(this.data.meta[this.activeClass] != null && this.data.meta[this.activeClass].f[f_key] != null)
                            {
                                lookup.f[f_key].shown = this.data.meta[this.activeClass].f[f_key].shown;
                                lookup.f[f_key].routed = this.data.meta[this.activeClass].f[f_key].routed;
                                lookup.f[f_key].mandatory = this.data.meta[this.activeClass].f[f_key].mandatory;
                                lookup.f[f_key].object = this.data.meta[this.activeClass].f[f_key].object;
                                lookup.f[f_key].data_id = this.data.meta[this.activeClass].f[f_key].data_id;
                            }
                        }

                        let a_key = `${row.process} ${row.function} ${row.asset}`;
                        if(lookup.a[a_key] == null)
                        {
                            lookup.a[a_key] = {
                                key: a_key,
                                process: row.process,
                                function: row.function,
                                asset: row.asset,
                                shown: 'Yes',
                                routed: 'Yes',
                                mandatory: 'No',
                                object: null,
                                data_id: null,
                                selected: false,
                            }

                            if(this.data.meta[this.activeClass] != null && this.data.meta[this.activeClass].a[a_key] != null)
                            {
                                lookup.a[a_key].shown = this.data.meta[this.activeClass].a[a_key].shown;
                                lookup.a[a_key].routed = this.data.meta[this.activeClass].a[a_key].routed;
                                lookup.a[a_key].mandatory = this.data.meta[this.activeClass].a[a_key].mandatory;
                                lookup.a[a_key].object = this.data.meta[this.activeClass].a[a_key].object;
                                lookup.a[a_key].data_id = this.data.meta[this.activeClass].a[a_key].data_id;
                            }

                        }
                    }

                }

                return JSON.parse(JSON.stringify(lookup));
            },

            setSelected(key) {

                for(let row in this.tableData[this.activeTab])
                {
                    if(this.tableData[this.activeTab][row].selected === true)
                    {
                        this.tableData[this.activeTab][row][key] = this.set[key];
                    }
                }
            },

            resetData() {
                this.selectAll = false;
                this.tableData = this.calculateTableData();

            },

            checkDefaultMatch(data) {
                return ((data.shown == 'Yes') &&
                        (data.routed == 'Yes') &&
                        (data.mandatory == 'No') &&
                        (data.object == null) &&
                        (data.data_id == null))
            },
            saveData() { // needs checking

                // organise data into correct format then post it.
                let data = [];
                for(let tab in this.tableData)
                {
                    for(let key in this.tableData[tab])
                    {
                        let row = this.tableData[tab][key];
                        if(this.checkDefaultMatch(row) == false)
                        {
                            data.push({
                                site_class: this.activeClass,
                                process: row.process,
                                function: row.function || null,
                                asset: row.asset || null,
                                shown: row.shown,
                                routed: row.routed,
                                mandatory: row.mandatory,
                                object: row.object,
                                data_id: row.data_id,
                            })
                        }
                    }
                }

                axios.post( 'http://localhost:3001/meta', {
                    data: data,
                    site_class: this.activeClass,
                })
                .then(() => {
                    this.$emit('refresh_data');
                })
                .catch((e) => {
                    alert('Failed to save.');
                });

            },

            
            resetFilters() {
                this.filters = {
                    process: '',
                    function: '',
                    asset: '',
                    shown: '',
                    routed: '',
                    mandatory: '',
                    object: '',
                    data_id: '',
                }
            },


        },
        mounted () {
            this.resetData();
        }
    }
</script>