<template>
    <div class="space-y-4" v-if="activeClass != null">
        <div class="flex space-x-8">
            <div class="flex space-x-2">
                <div class="py-2 px-4 border border-gray-200">Select Type:</div>
                <div class="flex">
                    <select class="border border-purple-800 bg-purple-100 text-purple-800 w-128 px-4 py-2 font-medium" v-model="activeType">
                        <option v-for="(cl,key) in typeList">{{cl}}</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="" v-if="activeType != null && activeType != ''">
            
            <div class="">
                <div class="grid grid-cols-2 gap-4" >    
                    <div>
                        <table class="min-w-full divide-y divide-gray-200 border border-gray-200">
                            
                            <thead class="bg-gray-100 divide-x divide-gray-200" v-if="Object.keys(templateList).length > 0">
                                <th>Total Templates: {{Object.keys(templateList).length}}</th>
                                <th>Total Works: {{Object.values(templateList).reduce((a, b) => a + Object.keys(b.works).length, 0)}}</th>
                                <th></th>
                            </thead>
                            <thead class="bg-gray-100 divide-x divide-gray-200">
                                <th>Number</th>
                                <th>Count</th>
                                <th>Actions</th>
                            </thead>
                            <tbody  class="bg-gray-50">
                                <tr v-for="(r,index) in Object.keys(templateList)" class="border-b border-gray-200 divide-x divide-gray-200">
                                    <td class="px-4 py-2 whitespace-nowrap">{{index+1}}</td>
                                    <td class="px-4 py-2 whitespace-nowrap">{{Object.keys(templateList[r].works).length}}</td>
                                    <td class="px-4 py-2 whitespace-nowrap">
                                        <button @click.prevent="activeTemplate = templateList[r]" class="bg-lightBlue-500 text-white text-xs px-2 py-1 hover:bg-lightBlue-800">
                                            Select
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        
        </div>

        <div class="pt-4" v-if="activeTemplate != null">

            

            <div class="space-y">
                <div class="py-2 font-medium text-xl">
                    Viewing Template: {{ activeTemplate.id }}
                </div>
            </div>
            
            <div class="flex space-x-8">
                <div>
                    <table class="min-w-full divide-y divide-gray-200 border border-gray-200">
                        <thead class="bg-gray-100 divide-x divide-gray-200">
                            <th colspan=6>Hierarchy</th>
                        </thead>
                        <thead class="bg-gray-100 divide-x divide-gray-200">
                            <th>Process</th>
                            <th>Function</th>
                            <th>Asset</th>
                            <th>Data ID</th>
                            <th>Routed</th>
                            <th>Object</th>
                        </thead>
                        <tbody  class="bg-gray-50">
                            <template v-for="(r,rownum) in activeTemplate.data">
                                <tr class="border-b border-gray-200 divide-x divide-gray-200">

                                    <td class="px-4 py-2 whitespace-nowrap">
                                        <span v-for="h in r.hierarchy">{{h.process}}<br></span>
                                    </td>
                                    <td class="px-4 py-2 whitespace-nowrap">
                                        <span v-for="h in r.hierarchy">{{h.function}}<br></span>
                                    </td>
                                    <td class="px-4 py-2 whitespace-nowrap">
                                        <span v-for="h in r.hierarchy">{{h.asset}}<br></span>
                                    </td>
                                    <td class="px-4 py-2 whitespace-nowrap">
                                        {{r.data_id}}
                                    </td>
                                    <td class="px-4 py-2 whitespace-nowrap">
                                        {{r.routed}}
                                    </td>
                                    <td class="px-4 py-2 whitespace-nowrap">
                                        {{r.object}}
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="min-w-full divide-y divide-gray-200 border border-gray-200">
                        <thead class="bg-gray-100 divide-x divide-gray-200">
                            <th>Works</th>
                        </thead>
                        <tbody  class="bg-gray-50">
                            <template v-for="(r,wn) in activeTemplate.works">
                                <tr class="border-b border-gray-200 divide-x divide-gray-200">
                                    <td class="px-4 py-2 whitespace-nowrap">
                                        {{wn}}
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import analysisHandler from '../mixins/analysisHandler.js';

    export default {
        mixins: [
            analysisHandler,
        ],
        components: {},
        props: {
            data: {
                type: Object,
                default: function () {
                    return { 
                        works: {},
                        hierarchy: {},
                        meta: {},
                        estate: {},
                     }
                }
            },
            activeClass: {
                type: String,
                default: null,
            }
        },
        data () {
            return {
                metricsOpen: true,
                tableData: {},
                activeType: '',
                templateList: {},
                templateMetrics: {},
                activeTemplate: null,
            }
        },
        computed: {
           typeList () {
                let list = {
                };
                for(let key in this.data.works)
                {   
                    if(this.data.works[key].site_class == this.activeClass && this.data.works[key].type != null)
                    {
                        list[this.data.works[key].type] = true;
                    }
                }
                let data = [];
                for(let item in list)
                {
                    data.push(item);
                }
                data.sort();
                return data;
            },
        },
        watch: {
            activeClass: function() {
                this.activeTemplate = null;
                this.calculateTableData();
            },
            activeType: function() {
                this.activeTemplate = null;
                this.calculateTableData();
            }
        },
        methods: {
            
            
            
            calculateTableData() {
                let typeData = this.calculateTypeTemplates(this.activeClass, this.activeType)
                this.templateList = typeData.list;
            },


            resetData() {
                this.calculateTableData();
            },

        },
        mounted () {
            this.resetData();
        }
    }
</script>