<template>
    <div class="space-y-4" v-if="activeClass != null">
        <div class="grid grid-cols-3 gap-4">


            <div class="flex justify-between">
                <div class="space-y">
                    <div class="py-2 font-medium text-xl">
                        Works Configuration
                    </div>
                    <div class="">
                        <div>
                            Total Works: {{ Object.keys(tableData).length }}
                        </div>
                        <div>
                            Selected Works: {{ Object.keys(tableData).filter(i => tableData[i].selected == true).length }}
                        </div>
                    </div>
                </div>
                <div class="space-y ">
                    <button class="border bg-red-500 px-2 py-1 text-xs text-white" @click.prevent="deleteSelectedWorks">Delete Works</button>
                </div>
            </div>

            <div class="border border-gray-200 space-y-2">
                <div class="flex justify-between">
                    <div class="px-4 py-2 w-64">Set selected 'Size' to</div>                    
                    <select class="border border-lightBlue-200 w-48 px-4 py-2" v-model="selectedSize">
                        <option>Simple</option>
                        <option>Complex</option>
                    </select>
                    <button class="border border-lightBlue-300 bg-lightBlue-300 px-4 py-2 w-24" @click.prevent="setSelectedSize">Set</button>
                </div>
                <div class="flex justify-between">
                    <div class="px-4 py-2 w-64">Set selected 'Type' to</div>                    
                    <input class="border border-lightBlue-200 w-48 px-4 py-2" v-model="selectedType" />
                    <button class="border border-lightBlue-300 bg-lightBlue-300 px-4 py-2 w-24" @click.prevent="setSelectedType">Set</button>
                </div>

            </div>

            <div class="border border-gray-200 flex justify-between">
                <div class="space-y-2">
                    <div class="w-64">
                        <button class="border border-lightBlue-300 bg-lightBlue-300 px-4 py-2 w-full" @click.prevent="resetData">Reset</button>
                    </div>
                    <div class="w-64">
                        <button class="border border-lightBlue-300 bg-lightBlue-300 px-4 py-2 w-full" @click.prevent="saveData">Save</button>
                    </div>
                </div>
                
                <div class="space-y-2">
                    <div class="w-64">
                        <button class="border border-lightBlue-300 bg-lightBlue-300 px-4 py-2 w-full" @click.prevent="showChangeset = true">Changeset</button>
                    </div>
                    <div class="w-64">
                        <button class="px-4 py-2 w-full border border-red-800 text-red-800 hover:bg-red-800 hover:text-white" @click.prevent="resetFilters">Clear Filters</button>
                    </div>
                </div>

            </div>

        </div>


        <div>

            <table class="min-w-full divide-y divide-gray-200 border border-gray-200">
                
                <thead class="bg-gray-100 divide-x divide-gray-200">
                    <th class="py-2 px-2"></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.name" /></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.nexus" /></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.batch" /></th>
                    <th class="py-2 px-2"></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.size" /></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.site_class" /></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.type" /></th>
                </thead>

                <thead class="bg-gray-100 divide-x divide-gray-200">
                    <th class="px-2 py-2 border-b whitespace-no-wrap border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        <td class="px-2 py-2 w-8">
                                <div @click.prevent="selectAll = !selectAll" :class="{ 'bg-blue-400' : selectAll }"
                                class="border border-black h-6 w-6 hover:bg-blue-200 cursor-pointer" ></div>
                        </td>
                    </th>
                    <ui-table-header :sort="sort" field="name" label="Name" :sortable="true" />
                    <ui-table-header :sort="sort" field="nexus" label="Nexus" :sortable="true" />
                    <ui-table-header :sort="sort" field="batch" label="Batch" :sortable="true" />
                    <ui-table-header :sort="sort" field="point_count" label="Points" :sortable="true" />
                    <ui-table-header :sort="sort" field="size" label="Size" :sortable="true" />
                    <ui-table-header :sort="sort" field="site_class" label="Site Class" :sortable="true" />
                    <ui-table-header :sort="sort" field="type" label="Type" :sortable="true" />
                </thead>
                <tbody  class="bg-gray-50">
                    <tr v-for="r in sortedData" class="border-b border-gray-200 divide-x divide-gray-200" :class="{ 'bg-lightBlue-100' : changeset[r.name] != null }">
                        <td class="px-4 py-2 w-8">
                            <div @click.prevent="tableData[r.name].selected = !tableData[r.name].selected" 
                                :class="{ 'bg-blue-400' : tableData[r.name].selected }"
                                class="border border-black h-6 w-6 hover:bg-blue-200 cursor-pointer" ></div>
                        </td>
                        <td class="px-4 py-2" >{{r.name}}</td>
                        <td class="px-4 py-2">{{r.nexus}}</td>
                        <td class="px-4 py-2">{{r.batch}}</td>
                        <td class="px-4 py-2">{{r.point_count}}</td>
                        <td class="px-4 py-2" :class="{ 'text-lightBlue-600' : changeset[r.name] != null && changeset[r.name].size != null }">{{r.size}}</td>
                        <td class="px-4 py-2">{{r.site_class}}</td>
                        <td class="px-4 py-2" :class="{ 'text-lightBlue-600' : changeset[r.name] != null && changeset[r.name].type != null }">{{r.type}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <template v-if="showChangeset == true">
            <div class="fixed z-10 inset-0 overflow-y-auto" role="dialog" aria-modal="true">
                <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                   
                    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

                    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

                    <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-3xl sm:w-full sm:p-6">
                        <div>
                            <div class="mt-3 text-center sm:mt-5 overflow-y-auto">
                                <h3 class="text-lg leading-6 font-medium text-gray-900" id="dialog-1-title">
                                    Changeset
                                </h3>
                                <div class="mt-2">
                                    <h4>Works</h4>
                                    <p class="text-sm text-gray-500" v-for="(row,r) in changeset">
                                    {{r}}: <span class="space-x-2" v-for="(prop,p) in row"> changed from {{ prop.old }} to {{ prop.new }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 sm:mt-6">
                            <button type="button" @click.prevent="showChangeset = false" class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </template>


    </div>
</template>

<script>

    import axios from 'axios';
    import uiTableHeader from './uiTableHeader.vue';

    export default {
        components: {
            'ui-table-header': uiTableHeader,
        },
        props: {
            data: {
                type: Object,
                default: function () {
                    return { 
                        works: {},
                        hierarchy: {},
                        meta: {},
                        estate: {},
                     }
                }
            },
            activeClass: {
                type: String,
                default: null,
            }
        },
        data () {
            return {
                tableData: {},
                selectAll: false,
                selectedSize: null,
                selectedType: null,
                sort: {
                    field: null,
                    descending: true,
                },
                showChangeset: false,
                filters: {
                    name: '',
                    nexus: '',
                    batch: '',
                    size: '',
                    site_class: '',
                    type: '',
                },
            }
        },
        computed: {

            
            changeset() {

                let list = {};

                let control = this.calculateTableData();
                let change = this.tableData; 

                for(let row in control)
                {
                    if(JSON.stringify(control[row]) != JSON.stringify(change[row]))
                    {
                        let data = null;
                        for(let prop in control[row])
                        {
                            if(control[row][prop] != change[row][prop] && prop != 'selected')
                            {
                                if(data == null)
                                {
                                    data = {};
                                }
                                data[prop] = {
                                    old: control[row][prop],
                                    new: change[row][prop],
                                }
                            }
                        }

                        if(data != null)
                        {
                            list[row] = data;
                        }
                    }
                }
                

                return list;
            },


            filteredData() {

                let data = [];

                for(let key in this.tableData)
                {
                    let row = this.tableData[key]; 
                    
                    if( this.filterDatum(row) == true)
                    {
                        data.push(row)
                    }
                    
                }

                return data;
            },


            sortedData () {

                let data = this.filteredData;
                
                if (this.sort.field != null) {
                    data.sort((a,b) => { 
                        let aVal = a[this.sort.field];
                        let bVal = b[this.sort.field];

                        if (aVal === bVal) {
                            return 0;
                        }
                        else if (aVal == null) {
                            return 1;
                        }
                        else if (bVal == null) {
                            return -1;
                        }
                        else if (this.sort.descending) {
                            return (aVal < bVal) ? 1 : -1;
                        }
                        else {
                            return (aVal < bVal) ? -1 : 1;
                        }
                    });
                }
                
                return data
            },
        },
        watch: {
            'selectAll': function(newVal) {
                for(let key in this.tableData)
                {
                    this.tableData[key].selected = newVal;
                }
            },
            'activeClass': function(newVal) {
                this.resetData();
            },
            'data.works': {
                deep: true,
                handler() {
                    this.resetData();
                }
            },
        },
        methods: {

            filterDatum(row) {
                let state = true;
                for(let key in this.filters)
                {
                    if( this.filters[key] == '' || ( this.filters[key].charAt(0) == '=' && ('='+row[key].toUpperCase()) == this.filters[key].toUpperCase() ) 
                    || ( row[key].toUpperCase().indexOf(this.filters[key].toUpperCase()) > -1)  )
                    {
                        
                    }
                    else
                    {
                        state = false;
                        if(this.tableData[row.name].selected == true)
                        {
                            this.tableData[row.name].selected = false;
                        }
                    }
                }
                return state;
            },


            calculateTableData() {

                let h = {};
                for(let i=0; i<this.data.hierarchy.length; i++)
                {
                    let row = this.data.hierarchy[i];
                    if(h[row.works] == null)
                    {
                        h[row.works] = 0;
                    }
                    h[row.works]++;
                }

                let lookup = {};
                for(let key in this.data.works)
                {
                    let row = this.data.works[key];
                    if(row.site_class == this.activeClass)
                    {
                        lookup[key] = row;
                        lookup[key].selected = false;
                        lookup[key].point_count = h[row.name];
                    }
                }
                
                return JSON.parse(JSON.stringify(lookup));
            },



            setSelectedSize() {
                for(let key in this.tableData)
                {
                    if(this.tableData[key].selected === true)
                    {
                        this.tableData[key].size = this.selectedSize;
                    }
                }
            },
            setSelectedType() {
                for(let key in this.tableData)
                {
                    if(this.tableData[key].selected === true)
                    {
                        this.tableData[key].type = this.selectedType;
                    }
                }
            },
            resetData() {
                this.selectAll = false;
                this.tableData = this.calculateTableData();
            },


            
            deleteSelectedWorks() {
                let confirm = prompt('Are you sure you want to delete these works? Enter Yes to confirm.');

                let works = Object.keys(this.tableData).filter(i => this.tableData[i].selected == true);

                if(confirm == 'Yes' && works.length > 0)
                {
                    alert('deleting');
                    /*
                    axios.post( 'http://localhost:3001/works/delete', {
                        data: works,
                    })
                    .then(() => {
                        this.$emit('refresh_data');
                    })
                    .catch((e) => {
                        console.log(e);
                        alert('Failed to delete.');
                    });
                    */
                }
            },

            saveData() {
                let data = [];
                for(let key in this.tableData)
                {
                    let row = this.tableData[key];
                    data.push({
                        name: row.name,
                        nexus: row.nexus,
                        site_class: row.site_class,
                        batch: row.batch,
                        size: row.size,
                        type: row.type,
                    })
                }
                axios.post( 'http://localhost:3001/works', {
                    data: data,
                    site_class: this.activeClass
                })
                .then(() => {
                    this.$emit('refresh_data');
                })
                .catch((e) => {
                    console.log(e);
                    alert('Failed to save.');
                });
            },

            
            resetFilters() {
                this.filters = {
                    name: '',
                    nexus: '',
                    batch: '',
                    size: '',
                    site_class: '',
                    type: '',
                }
            },



        },
        mounted () {
            this.resetData();
        }
    }
</script>