<template>
    <div class="space-y-4">
        <div class="flex justify-between">
            <div class="flex space-x-8">
                <div class="px-4 py-2">
                    Total Rows: {{Object.keys(tableData).length}} 
                </div>
                <div class="px-4 py-2">
                    Filtered Rows: {{filteredData.length}} 
                </div>
            </div>
            <div class="flex space-x-8">
                <div class="px-4 py-2">
                    Total Works: {{Object.keys(data.works).length}} 
                </div>
                
                <div class="px-4 py-2" v-if="Object.keys(tableData).length > 0">
                    Total Templates: {{Object.values(tableData).reduce((a, b) => a + b.template_count, 0)}} 
                </div>
            </div>
            <div class="flex space-x-8">
                <div>     
                    <span class="px-4">Rows:</span>
                    <select class="border border-gray-400 text-gray-400 w-24 px-4 py-2" v-model="rowCount">
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <table class="min-w-full divide-y divide-gray-200 border border-gray-200">
                    
                <thead class="bg-gray-100 divide-x divide-gray-200">
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.site_class" /></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.type" /></th>
                    <th class="py-2 px-2"></th>
                    <th class="py-2 px-2"></th>
                    <th class="py-2 px-2">
                        <button class="px-2 py border border-red-800 text-red-800 hover:bg-red-800 hover:text-white w-full" @click.prevent="resetFilters">Clear</button>
                    </th>
                </thead>
                <thead class="bg-gray-100 divide-x divide-gray-200">
                    <ui-table-header :sort="sort" field="site_class" label="Site Class" :sortable="true" />
                    <ui-table-header :sort="sort" field="type" label="Type" :sortable="true" />
                    <ui-table-header :sort="sort" field="works_count" label="Number of Works" :sortable="true" />
                    <ui-table-header :sort="sort" field="template_count" label="Number of Templates" :sortable="true" />
                    <ui-table-header :sort="sort" field="templates" label="Template Split" :sortable="false" />
                </thead>
                <tbody  class="bg-gray-50">
                    <template v-for="(r,index) in filteredData">
                        <tr class="border-b border-gray-200 divide-x divide-gray-200" v-if="index >= ((pageIndex-1)*rowCount) && index < ((pageIndex)*rowCount)">
                            <td class="px-4 py-2">{{r.site_class}}</td>
                            <td class="px-4 py-2">{{r.type}}</td>
                            <td class="px-4 py-2">{{r.works_count}}</td>
                            <td class="px-4 py-2">{{r.template_count}}</td>
                            <td class="px-4 py-2"><span class="block" v-for="(t,index) in r.templates">{{index}}: {{t}}</span></td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <div class="flex space-x-2 py-2 w-full justify-center text-center text-gray-500 font-medium">
                <div class="border border-gray-500 px-2 py-2 w-12 cursor-pointer hover:bg-gray-700 hover:text-white" 
                    @click.prevent="pageIndex = 1">&lt;&lt;</div>
                <div class="border border-gray-500 px-2 py-2 w-12 cursor-pointer hover:bg-gray-700 hover:text-white" 
                    @click.prevent="pageIndex = (pageIndex == 1) ? 1 : pageIndex-1">&lt;</div>
                <div class="border border-gray-500 px-2 py-2 w-12 cursor-pointer hover:bg-gray-700 hover:text-white" v-for="i in pages"
                    :class="{ 'bg-purple-800 text-white' : i == pageIndex }" @click.prevent="pageIndex = i" >
                    {{i}}
                </div>
                <div class="border border-gray-500 px-2 py-2 w-12 cursor-pointer hover:bg-gray-700 hover:text-white"
                    @click.prevent="pageIndex = (pageIndex == (Math.ceil(filteredData.length/rowCount))) ? (Math.ceil(filteredData.length/rowCount)) : pageIndex+1">></div>
                <div class="border border-gray-500 px-2 py-2 w-12 cursor-pointer hover:bg-gray-700 hover:text-white" 
                    @click.prevent="pageIndex = (Math.ceil(filteredData.length/rowCount))" >>></div>
            </div>
        </div>
    </div>

</template>

<script>

    import analysisHandler from '../mixins/analysisHandler.js';
    import uiTableHeader from './uiTableHeader.vue';

    export default {
        mixins: [
            analysisHandler,
        ],
        components: {
            'ui-table-header': uiTableHeader,
        },
        props: {
            data: {
                type: Object,
                default: function () {
                    return { 
                        works: {},
                        hierarchy: {},
                        meta: {},
                        estate: {},
                     }
                }
            },
        },
        data () {
            return {
                tableData: {},
                filters: {
                    site_class: '',
                    type: '',
                },
                sort: {
                    field: null,
                    descending: true,
                },
                rowCount: 15,
                pageIndex: 1,
                
            }
        },
        computed: {
            pages () {
                let max_value = (Math.ceil(this.filteredData.length/this.rowCount) )
                let current = this.pageIndex;
                
                let list = [];

                if(max_value > 5)
                {
                    if(current == max_value)
                    {
                        list = [current-4,current-3,current-2,current-1,current];
                    }
                    else if(current == max_value-1)
                    {
                        list = [current-3,current-2,current-1,current,current+1];
                    }
                    else if(current >= 3)
                    {
                        list = [current-2,current-1,current,current+1,current+2];
                    }
                    else if(current = 2)
                    {
                        list = [current-1,current,current+1,current+2,current+3];
                    }
                    else
                    {
                        list = [current,current+1,current+2,current+3,current+4];
                    }
                }
                else
                {
                        for(let i=1; i<max_value+1; i++)
                        {
                           list.push(i)
                        }
                }

                return list;
            },

            filteredData () {

                let data = [];

                let f = this.filters;

                for(let key in this.tableData)
                {
                    let row = this.tableData[key]; 
                    
                    if(
                        (f.site_class == '' || row.site_class.toUpperCase().indexOf(f.site_class.toUpperCase()) > -1) &&
                        (f.type == '' || row.type.toUpperCase().indexOf(f.type.toUpperCase()) > -1)
                    )
                    {
                        data.push(row)
                    }
                    
                }
                
                if (this.sort.field != null) {
                    data.sort((a,b) => { 
                        let aVal = a[this.sort.field];
                        let bVal = b[this.sort.field];

                        if (aVal === bVal) {
                            return 0;
                        }
                        else if (aVal == null) {
                            return 1;
                        }
                        else if (bVal == null) {
                            return -1;
                        }
                        else if (this.sort.descending) {
                            return (aVal < bVal) ? 1 : -1;
                        }
                        else {
                            return (aVal < bVal) ? -1 : 1;
                        }
                    });
                }

                return data
            },
        },
        watch: {
        },
        methods: {
            
            
            calculateTableData() {
               
                let lookup = {};
                for(let works in this.data.works)
                {
                    let w = this.data.works[works];
                    if(lookup[w.type] == null)
                    {
                        let typeData = this.calculateTypeTemplates(w.site_class, w.type);
                        
                        lookup[w.type] = {
                            site_class: w.site_class,
                            data: {
                                metrics: typeData.metrics,
                                list: typeData.list,
                            },
                        }
                    }
                }

                let data = {};
                for(let type in lookup)
                {
                    let d = lookup[type].data;
                    let works_count = Object.values(d.metrics).reduce((a, b) => a + b)
                    let template_count = Object.keys(d.list).length;

                    let metrics = {};

                    for(let t in d.metrics)
                    {
                        if(metrics[d.metrics[t]] == null)
                        {
                            metrics[d.metrics[t]] = 0;
                        }
                        metrics[d.metrics[t]]++;
                    }

                    data[type] = {
                        site_class: lookup[type].site_class,
                        type: type,
                        works_count: works_count,
                        template_count: template_count,
                        templates: metrics,
                    }
                }

                this.tableData = data;

            },

            
            resetData() {
                this.calculateTableData();
            },

            

            resetFilters() {


                this.filters = {
                    site_class: '',
                    type: '',
                }
            },


        },
        mounted () {
            this.resetData();
        }
    }
</script>