<template>
    <div class="space-y-4">
        <div class="flex justify-between">
            <div class="flex space-x-8">
                <div>
                    <button class="bg-lightBlue-100 hover:bg-lightBlue-200 px-4 py-2" @click.prevent="displayPoints = !displayPoints">Toggle Points</button>
                </div>
                <div class="px-4 py-2">
                    Total Rows: {{Object.keys(tableData).length}} 
                </div>
                <div class="px-4 py-2">
                    Filtered Rows: {{filteredData.length}} 
                </div>
            </div>
            <div class="flex space-x-8">
                <div>     
                    <span class="px-4">Rows:</span>
                    <select class="border border-gray-400 text-gray-400 w-24 px-4 py-2" v-model="rowCount">
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <table class="min-w-full divide-y divide-gray-200 border border-gray-200">
                    
                <thead class="bg-gray-100 divide-x divide-gray-200">
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.type" /></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.works" /></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.process" /></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.function" /></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.asset" /></th>
                    <th class="py-2 px-2">
                        <button class="px-2 py border border-red-800 text-red-800 hover:bg-red-800 hover:text-white w-full" @click.prevent="resetFilters">Clear</button>
                    </th>
                </thead>
                <thead class="bg-gray-100 divide-x divide-gray-200">
                    <ui-table-header :sort="sort" field="type" label="Type" :sortable="true" />
                    <ui-table-header :sort="sort" field="works" label="Works" :sortable="true" />
                    <ui-table-header :sort="sort" field="process" label="Process" :sortable="true" />
                    <ui-table-header :sort="sort" field="function" label="Function" :sortable="true" />
                    <ui-table-header :sort="sort" field="asset" label="Asset" :sortable="true" />
                    <ui-table-header :sort="sort" field="points" label="Points" :sortable="false" />
                </thead>
                <tbody  class="bg-gray-50">
                    <template v-for="(r,index) in filteredData">
                        <tr class="border-b border-gray-200 divide-x divide-gray-200" v-if="index >= ((pageIndex-1)*rowCount) && index < ((pageIndex)*rowCount)">
                            <td class="px-4 py-2">{{r.type}}</td>
                            <td class="px-4 py-2">{{r.works}}</td>
                            <td class="px-4 py-2">{{r.process}}</td>
                            <td class="px-4 py-2">{{r.function}}</td>
                            <td class="px-4 py-2">{{r.asset}}</td>
                            <td class="px-4 py-2"><span class="block" v-if="displayPoints" v-for="(count,point) in r.points">{{point}}</span></td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <div class="flex space-x-2 py-2 w-full justify-center text-center text-gray-500 font-medium">
                <div class="border border-gray-500 px-2 py-2 w-12 cursor-pointer hover:bg-gray-700 hover:text-white" 
                    @click.prevent="pageIndex = 1">&lt;&lt;</div>
                <div class="border border-gray-500 px-2 py-2 w-12 cursor-pointer hover:bg-gray-700 hover:text-white" 
                    @click.prevent="pageIndex = (pageIndex == 1) ? 1 : pageIndex-1">&lt;</div>
                <div class="border border-gray-500 px-2 py-2 w-12 cursor-pointer hover:bg-gray-700 hover:text-white" v-for="i in pages"
                    :class="{ 'bg-purple-800 text-white' : i == pageIndex }" @click.prevent="pageIndex = i" >
                    {{i}}
                </div>
                <div class="border border-gray-500 px-2 py-2 w-12 cursor-pointer hover:bg-gray-700 hover:text-white"
                    @click.prevent="pageIndex = (pageIndex == (Math.ceil(filteredData.length/rowCount))) ? (Math.ceil(filteredData.length/rowCount)) : pageIndex+1">></div>
                <div class="border border-gray-500 px-2 py-2 w-12 cursor-pointer hover:bg-gray-700 hover:text-white" 
                    @click.prevent="pageIndex = (Math.ceil(filteredData.length/rowCount))" >>></div>
            </div>
        </div>
    </div>
</template>

<script>

    import uiTableHeader from './uiTableHeader.vue';

    export default {
        components: {
            'ui-table-header': uiTableHeader,
        },
        props: {
            data: {
                type: Object,
                default: function () {
                    return { 
                        works: {},
                        hierarchy: {},
                        meta: {},
                        estate: {},
                     }
                }
            },
            activeClass: {
                type: String,
                default: null,
            }
        },
        data () {
            return {
                displayPoints: false,
                tableData: {},
                filters: {
                    type: '',
                    works: '',
                    process: '',
                    function: '',
                    asset: '',
                },
                sort: {
                    field: null,
                    descending: true,
                },
                rowCount: 10,
                pageIndex: 1,
            }
        },
        computed: {

            pages () {
                let max_value = (Math.ceil(this.filteredData.length/this.rowCount) )
                let current = this.pageIndex;
                
                let list = [];

                if(max_value > 5)
                {
                    if(current == max_value)
                    {
                        list = [current-4,current-3,current-2,current-1,current];
                    }
                    else if(current == max_value-1)
                    {
                        list = [current-3,current-2,current-1,current,current+1];
                    }
                    else if(current >= 3)
                    {
                        list = [current-2,current-1,current,current+1,current+2];
                    }
                    else if(current = 2)
                    {
                        list = [current-1,current,current+1,current+2,current+3];
                    }
                    else
                    {
                        list = [current,current+1,current+2,current+3,current+4];
                    }
                }
                else
                {
                        for(let i=1; i<max_value+1; i++)
                        {
                           list.push(i)
                        }
                }

                return list;
            },

            filteredData () {

                let data = [];

                let f = this.filters;

                for(let key in this.tableData)
                {
                    let row = this.tableData[key]; 
                    
                    if(
                        (f.type == '' || row.type.toUpperCase().indexOf(f.type.toUpperCase()) > -1) &&
                        (f.works == '' || row.works.toUpperCase().indexOf(f.works.toUpperCase()) > -1) &&
                        (f.process == '' || row.process.toUpperCase().indexOf(f.process.toUpperCase()) > -1) &&
                        (f.function == '' || row.function.toUpperCase().indexOf(f.function.toUpperCase()) > -1) &&
                        (f.asset == '' || row.asset.toUpperCase().indexOf(f.asset.toUpperCase()) > -1)
                    )
                    {
                        data.push(row)
                    }
                    
                }
                
                if (this.sort.field != null) {
                    data.sort((a,b) => { 
                        let aVal = a[this.sort.field];
                        let bVal = b[this.sort.field];

                        if (aVal === bVal) {
                            return 0;
                        }
                        else if (aVal == null) {
                            return 1;
                        }
                        else if (bVal == null) {
                            return -1;
                        }
                        else if (this.sort.descending) {
                            return (aVal < bVal) ? 1 : -1;
                        }
                        else {
                            return (aVal < bVal) ? -1 : 1;
                        }
                    });
                }

                return data
            },
        },
        watch: {
            'activeClass': function(newVal) {
                this.resetData();
            },
        },
        methods: {
            calculateTableData() {
                let lookup = {};
                for(let i=0; i<this.data.hierarchy.length; i++)
                {
                    let row = this.data.hierarchy[i];
                    let key = `${row.works} ${row.process} ${row.function} ${row.asset}`;
                    if(this.data.works[row.works].site_class == this.activeClass)
                    {
                        if(lookup[key] == null)
                        {
                            lookup[key] = {
                                type: this.data.works[row.works].type || '',
                                works: row.works,
                                process: row.process,
                                function: row.function,
                                asset: row.asset,
                                points: {},
                            }
                        }
                        lookup[key].points[row.point] = true;                        
                    }
                }
                this.tableData = JSON.parse(JSON.stringify(lookup));
            },
            
            resetData() {
                this.calculateTableData();
            },

            resetFilters() {
                this.filters = {
                    type: '',
                    works: '',
                    process: '',
                    function: '',
                    asset: '',
                }
            },
        },
        mounted () {
            this.resetData();
        }
    }
</script>