<template>
    <div class="space-y-4" v-if="activeClass != null">
        <div class="">
            <div class="space-y">
                <div class="py-2 font-medium text-xl">
                    Works Statistics
                </div>
                <div class="">
                </div>
            </div>
        </div>
        
        <div class="grid grid-cols-3 gap-8">
            <div class="flex space-x-8 w-full border border-gray-300">
                <div class="space-y  bg-lightBlue-300 px-4 py-2 w-48">
                    <div class="py-2 font-medium text-xl">
                        Estate
                    </div>
                    <div class="">
                        {{ data.estate[activeClass].total }}
                    </div>
                </div>
                <div class="space-y bg-lightBlue-300 px-4 py-2 w-48">
                    <div class="py-2 font-medium text-xl">
                        Imported
                    </div>
                    <div class=""> 
                        {{ Object.keys(data.works).filter(w => data.works[w].site_class == activeClass).length }}
                        ({{ Math.round(((( Object.keys(data.works).filter(w => data.works[w].site_class == activeClass).length / data.estate[activeClass].total)*100) + Number.EPSILON) * 100) / 100 }}%)
                    
                    </div>
                </div>
                
            </div>
            <div class="flex space-x-8 w-full border border-gray-300">
                <div class="space-y  bg-lightBlue-300 px-4 py-2 w-48">
                    <div class="py-2 font-medium text-xl">
                        Simple
                    </div>
                    <div class="">
                        {{ Object.keys(data.works).filter(w => data.works[w].site_class == activeClass && data.works[w].size == 'Simple').length }}
                    </div>
                </div>
                <div class="space-y bg-lightBlue-300 px-4 py-2 w-48">
                    <div class="py-2 font-medium text-xl">
                        Complex
                    </div>
                    <div class=""> 
                        {{ Object.keys(data.works).filter(w => data.works[w].site_class == activeClass && data.works[w].size == 'Complex').length }}
                    </div>
                </div>
            </div>
            <div class="flex space-x-8 w-full border border-gray-300">
                <div class="space-y  bg-lightBlue-300 px-4 py-2 w-48">
                    <div class="py-2 font-medium text-xl">
                        Nexus A
                    </div>
                    <div class="">
                        {{ Object.keys(data.works).filter(w => data.works[w].site_class == activeClass && data.works[w].nexus == 'irishwater_nxA').length }}
                    </div>
                </div>
                <div class="space-y bg-lightBlue-300 px-4 py-2 w-48">
                    <div class="py-2 font-medium text-xl">
                        Nexus B
                    </div>
                    <div class=""> 
                        {{ Object.keys(data.works).filter(w => data.works[w].site_class == activeClass && data.works[w].nexus == 'irishwater_nxB').length }}
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <div class="py-2 flex justify-between">
                    <div class="font-medium">
                        Types
                    </div>
                    <div class="mr-4">
                    </div>
                </div>
                <table class="min-w-full divide-y divide-gray-200 border border-gray-200">
                    <thead class="bg-gray-100 divide-x divide-gray-200">
                        <th>Type</th>
                        <th>Works</th>
                        <th>Templates Required</th>
                        <th>Simple</th>
                        <th>Complex</th>
                    </thead>
                    <tbody  class="bg-gray-50">
                        <tr v-for="(r,key) in types" class="border-b border-gray-200 divide-x divide-gray-200">
                            <td class="px-4 py-2">{{key}}</td>
                            <td class="px-4 py-2">{{Object.keys(r).length}}</td>
                            <td class="px-4 py-2">TBD</td>
                            <td class="px-4 py-2">{{Object.keys(r).filter(i => types[key][i].size == 'Simple').length }}</td>
                            <td class="px-4 py-2">{{Object.keys(r).filter(i => types[key][i].size == 'Complex').length }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        components: {
        },
        props: {
            data: {
                type: Object,
                default: function () {
                    return { 
                        works: {},
                        hierarchy: {},
                        meta: {},
                        estate: {},
                     }
                }
            },
            activeClass: {
                type: String,
                default: null,
            }
        },
        data () {
            return {
                tableData: {},
            }
        },
        computed: {
            types () {
                let types = {};
                for(let key in this.data.works)
                {
                    let row = this.data.works[key];
                    if(row.site_class == this.activeClass)
                    {
                        if(types[row.type] == null)
                        {
                            types[row.type] = {};
                        }
                        types[row.type][row.name] = {
                            size: row.size,
                        }
                    }
                }
                return types;
            },
        },
        watch: {
            'activeClass': function(newVal) {
                this.resetData();
            },
            'data.works': {
                deep: true,
                handler() {
                    this.resetData();
                }
            },
        },
        methods: {
            calculateTableData() {
                let lookup = {};
                for(let key in this.data.works)
                {
                    let row = this.data.works[key];
                    if(row.site_class == this.activeClass)
                    {
                        lookup[key] = row;
                        lookup[key].selected = false;
                    }
                }
                this.tableData = JSON.parse(JSON.stringify(lookup));
            },
            resetData() {
                this.selectAll = false;
                this.calculateTableData();
            },

        },
        mounted () {
        }
    }
</script>